<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name></display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showAllClientServlet</servlet-name>
        <servlet-class>servlet.showAllClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllClientServlet</servlet-name>
        <url-pattern>/showAllClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showSelectClientServlet</servlet-name>
        <servlet-class>servlet.showSelectClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showSelectClientServlet</servlet-name>
        <url-pattern>/showSelectClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteClientServlet</servlet-name>
        <servlet-class>servlet.deleteClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteClientServlet</servlet-name>
        <url-pattern>/deleteClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addClientServlet</servlet-name>
        <servlet-class>servlet.addClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClientServlet</servlet-name>
        <url-pattern>/addClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateClientServlet</servlet-name>
        <servlet-class>servlet.updateClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateClientServlet</servlet-name>
        <url-pattern>/updateClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectClient</servlet-name>
        <servlet-class>servlet.selectClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectClient</servlet-name>
        <url-pattern>/selectClientServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>showAllProjectServlet</servlet-name>
        <servlet-class>servlet.showAllProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllProjectServlet</servlet-name>
        <url-pattern>/showAllProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showSelectProjectServlet</servlet-name>
        <servlet-class>servlet.showSelectProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showSelectProjectServlet</servlet-name>
        <url-pattern>/showSelectProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProjectServlet</servlet-name>
        <servlet-class>servlet.addProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProjectServlet</servlet-name>
        <url-pattern>/addProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteProjectServlet</servlet-name>
        <servlet-class>servlet.deleteProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProjectServlet</servlet-name>
        <url-pattern>/deleteProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateProjectServlet</servlet-name>
        <servlet-class>servlet.updateProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProjectServlet</servlet-name>
        <url-pattern>/updateProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectProjectServlet</servlet-name>
        <servlet-class>servlet.selectProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectProjectServlet</servlet-name>
        <url-pattern>/selectProjectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showAllFreelanceServlet</servlet-name>
        <servlet-class>servlet.showAllFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllFreelanceServlet</servlet-name>
        <url-pattern>/showAllFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showSelectFreelanceServlet</servlet-name>
        <servlet-class>servlet.showSelectFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showSelectFreelanceServlet</servlet-name>
        <url-pattern>/showSelectFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectFreelanceServlet</servlet-name>
        <servlet-class>servlet.selectFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectFreelanceServlet</servlet-name>
        <url-pattern>/selectFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateFreelanceServlet</servlet-name>
        <servlet-class>servlet.updateFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateFreelanceServlet</servlet-name>
        <url-pattern>/updateFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteFreelanceServlet</servlet-name>
        <servlet-class>servlet.deleteFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFreelanceServlet</servlet-name>
        <url-pattern>/deleteFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addFreelanceServlet</servlet-name>
        <servlet-class>servlet.addFreelanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFreelanceServlet</servlet-name>
        <url-pattern>/addFreelanceServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showAllTimetableServlet</servlet-name>
        <servlet-class>servlet.showAllTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllTimetableServlet</servlet-name>
        <url-pattern>/showAllTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showSelectTimetableServlet</servlet-name>
        <servlet-class>servlet.showSelectTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showSelectTimetableServlet</servlet-name>
        <url-pattern>/showSelectTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectTimetableServlet</servlet-name>
        <servlet-class>servlet.selectTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectTimetableServlet</servlet-name>
        <url-pattern>/selectTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateTimetableServlet</servlet-name>
        <servlet-class>servlet.updateTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateTimetableServlet</servlet-name>
        <url-pattern>/updateTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTimetableServlet</servlet-name>
        <servlet-class>servlet.deleteTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteTimetableServlet</servlet-name>
        <url-pattern>/deleteTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTimetableServlet</servlet-name>
        <servlet-class>servlet.addTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTimetableServlet</servlet-name>
        <url-pattern>/addTimetableServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>