*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
}
.all{
    background-color:gray;
}
.head{
    height: 2px;
    width: 80%;
    margin: 0px auto;
    background-color: gray;
}
.heading{
    height: 100px;
    width: 80%;
    margin: 0px auto;
    margin-top: 34px;
    background-color: snow;
    border-radius: 20px;
}
.hav{
    float: top;
}

.heading_a{
    font-family: "Blackadder ITC";
    font-size: 50px;
    padding-top: 12px;
    float: left;
    padding-left: 30px;
    color: gray;
}
.body{
    width: 80%;
    height: 100%;
    margin: 10px auto;
    background-color: snow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footing{
    background-color:gray;
    width: 80%;
    height: 100px;
    margin: 30px auto;
    text-align: center;
}
a:link,a:visited{
    text-decoration: none;
    font-weight: bolder;
    color: darkcyan;
}
a:hover,a:active{
    color: #95a540;
}
.bt{                      /*返回按钮*/
    margin-left: 450px;
    margin-top: 25px;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border-color: darkgreen;
    font-size: 30px;
}
input {
    float: top;
    width: 100px;
    height: 36px;
    margin-left: 100px;
    margin-top: 34px;
    border-radius: 20px;
    border-color: darkgreen;
    text-align: center;
}
.bt1{                   /*增加按钮*/
    margin-left: 10px;
    width: 100px;
    height: 36px;
    border-radius: 20px;
    border-color: darkgreen;
    font-size: 20px;
}
.form{
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 20px;
}
.messege{
    text-align: center;
    margin-bottom : 20px;
    font-size: 20px;
    color: red;
}
.add{
    margin-bottom: 20px;
}
.sale{
    width: 400px;
    height: 36px;
}
.sale1{
    width: 300px;
    height: 36px;
}
